body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(https://s3-alpha-sig.figma.com/img/ed36/4381/b1240ad2ca8012275e48a5b13fd0cc96?Expires=1736121600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pBerz0kBxYOc~UsSIoKdT68QJwLhpoxNPzTJlk4s-aExmkXnSlBeteT~juN~vCfD7639Z3uSF7zKHdeNhQ7bXJo~x3NFcopXERgBUnccDHvB0769v1iBPdWGY3-k0pyPqhJakvr54ZMYm9NNJJLW5386T6achYm0lXZZKwUy15pNH7JO8ypaLBazaU5SX43qTYG8s1vOVWwgXkvjeIWLv5Pq3nXeXxbTkT1TpjZWHqWsLD5jhrYpBYNCS1XEfCMAlfSQGUDYAEUb7Fv15wNZ3s5AwqYqI0Ziya6NRRhGHOiYw5GSjsb~gktvj~mJuN718XakwXD9tweemcUdU2JhRQ__) ;
    padding: 20px 0;
    text-align: center;
}

.header h1 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

.header nav {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}

.header nav a {
    color: #007BFF;
    text-decoration: none;
}

.header nav a:hover {
    text-decoration: underline;
}

.event {
    margin: 20px 0;
}

.image-container {
    position: relative;
}

.event-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.event-sidebar {
    position: absolute;
    padding-top: 50px;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-width: 300px;
}

.details h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.details p {
    font-size: 14px;
    margin-bottom: 5px;
}

.join-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: rgb(147, 1, 184);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
}

.join-btn:hover {
    background: #0056b3;
}


.event-details {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.event-details h2 {
    font-size: 22px;
    color: #333;
}

.author {
    font-size: 14px;
    color: #888;
    margin-bottom: 20px;
}

.overview, .learn {
    margin-bottom: 20px;
}
.learn {
    display: flex;
    justify-content: center;
    align-items: center;
 }
.learn ul {
    padding-left: 20px;
}

.learn ul li {
    list-style: disc;
    margin-bottom: 10px;
}

footer {
    background: #06042E;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
    font-size: 14px;
}
